.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #F1F0FF;
   
    height: 45.19rem;
    top: 102.44rem;
    left: 4.5rem;
}


h1 {
    color: #4a4aff;
}

.task-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    padding: 2rem;
}

.delete-btn {
    background-color: #ffebee;
    color: #ef5350;
    border: 1px solid #ef9a9a;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
}

.new-task-input {
    width: 100%;
    padding: 1rem;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.add-task-btn {
    background-color: #4a4aff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    width: 10rem;
}